/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

@font-face {
  font-display: swap;
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ProximaNova-Regular.eot);
  src: url(../fonts/ProximaNova-Regular.eot?#iefix) format("embedded-opentype"),
  url(../fonts/ProximaNova-Regular.woff2) format("woff2"),
  url(../fonts/ProximaNova-Regular.woff) format("woff"),
  url(../fonts/ProximaNova-Regular.ttf) format("truetype");
}
@font-face {
  font-display: swap;
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ProximaNova-Bold.eot);
  src: url(../fonts/ProximaNova-Bold.eot?#iefix) format("embedded-opentype"),
  url(../fonts/ProximaNova-Bold.woff2) format("woff2"),
  url(../fonts/ProximaNova-Bold.woff) format("woff"),
  url(../fonts/ProximaNova-Bold.ttf) format("truetype");
}

* {
  box-sizing: border-box;

}

/*======================================
 multi loctor form
 ========================================*/
 .olc-storelocator-filter.hidden{
 	display: none !important;
 }
 .olc-layout .olc-storelocator-filter{
 	width: 100%;
 	margin-bottom: 12px;
 	display: inline-block;
 }
 .olc-layout .olc-storelocator-filter .olc-location-search{
 	display: flex;
 	gap: 25px;
 }
 .olc-layout .olc-storelocator-filter .olc-location-search .olc-input label{
 	display: block;
 	width: 100%;
 	margin: 0 0 5px;
 	font-size: 18px;
 	color: #001e1d;
 	font-weight: 500;
 }
 .olc-layout .olc-storelocator-filter .olc-location-search .olc-input .olc-location-search-input,
 .olc-layout .olc-storelocator-filter .olc-location-search .olc-input select{
 	height: 50px;
 	width: 100%;
 	max-width: 100%;
 	border: 2px solid #28303d;
 	border-radius: 5px;
 	box-sizing: border-box;
 	padding: 10px;
 	font-size: 16px;
 }
 .olc-layout .olc-storelocator-filter .olc-location-search .olc-results{
 	display: flex;
 	gap: 25px;
 	width: 100%;
 }
 .olc-layout .olc-storelocator-filter .olc-location-search .olc-input{
 	width: 100%;
 }
 .olc-layout .olc-storelocator-filter .olc-location-search .olc-input:last-child{
 	width: auto;
 	flex-shrink: 0;
 }
 .olc-layout .olc-storelocator-filter .olc-location-search .olc-results .olc-input{
 	width: 100%;
 	flex-shrink: inherit;
 }
 .olc-layout .olc-col-1 form.olc-storelocator-filter .olc-input .olc-submit-btn {
 	border-radius: 6px;
 	font-size: 18px;
 	padding: 10px 18px;
 	background: #f9bc60;
 	border: 1px solid #f9bc60;
 	color: #001E1D;
 	margin-top: 31px;
 	cursor: pointer;
 	line-height: 27px;
 	position: relative;
 }
 .olc-layout .olc-storelocator-filter .olc-location-search .olc-input .olc-location-search-input:focus,
 .olc-layout .olc-col-1 form.olc-storelocator-filter .olc-input .olc-submit-btn:focus,
 .olc-layout .olc-col-1 form.olc-storelocator-filter .olc-results .olc-input select:focus {
 	outline: none;
 }
 .olc-layout .olc-col-1 form.olc-storelocator-filter .olc-input p.olc-error {
 	color: red;
 }
 .olc-submit-btn .olc-loader{
 	display: none;
 	vertical-align: middle;
 	padding-left: 0;
 }
 .olc-submit-btn .olc-loader.active{
 	display: flex;
 	position: absolute;
 	top: 0;
 	left: 0;
 	padding: 0;
 	width: 100%;
 	height: 100%;
 	background: #f9bc60;
 	align-items: center;
 	justify-content: center;
 	border-radius: 6px;
 }
 .olc-layout .olc-col-1 form.olc-storelocator-filter .olc-input .olc-submit-btn:hover {
 	background: #004643;
 	color: #fff;
 	border-color: #004643;
 }

 .olc-layout .olc-col-1 form.olc-storelocator-filter .olc-input .olc-submit-btn:hover span{
 	background: #004643;
 }


 /*<---------- back button style --------->*/
 .olc-layout .olc-direction-top a.olc-prev {
 	border-radius: 6px;
 	font-size: 16px;
 	padding: 6px 20px;
 	background: #28303d;
 	border: 1px solid #28303d;
 	color: #fff;
 	text-decoration: none;
 	margin-bottom: 15px;
 	display: inline-block;
 }
 body .olc-layout .olc-direction-top a.olc-prev:hover,body .olc-layout .olc-direction-top a.olc-prev:active,body .olc-layout .olc-direction-top a.olc-prev:focus {
 	background: #f9bc60;
 	border: 1px solid #f9bc60 !important;
  text-decoration: none;
  color: #001E1D;
}
.olc-layout .olc-direction-top ul li {
  background-color: #eef6f3;
  padding: 6px 15px;
}
.olc-layout .olc-direction-view .olc-copyright-text {
  font-weight: 600;
  color: #000;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*======================================
 office-locater-one-left
 ========================================*/
 .office-locater{
 	height: 100%;
 	margin: 0;
 }
 .olc-layout{
 	font-family: ProximaNova;
 	font-weight: 400;
 	font-size: 16px;
 	line-height: 26px;
 	color: #656565;
 	background: #fff;
 	margin: 0 !important;
 }
 .olc-col-2{
 	display: flex;
 	height: 100vh;
 	border-radius: 5px;
 	overflow: hidden;
 	border: 1px solid #0000000a;
 }
 .office-panel{
 	width: 420px;
 	flex-shrink: 0;
 	padding: 10px 10px 5px;
 	background: #fff;
 	overflow-y: auto;
 	box-sizing: border-box;
 }
 .office-panel .olc-direction-top{
  position: sticky;
  top: 0;
  background: #fff;
  padding: 10px 0;
}
/*======================================
  olc-layout main-section
  ========================================*/
  .olc-layout {
  	width: 100% !important;
  	max-width: 1650px !important;
  	margin: 0 auto 40px !important;
  	padding: 15px;
  	background: #f9f9f9;
  	border-radius: 9px;
  }

  /* olc-direction-view table css ----->*/
  .olc-layout table tr td.olc-distance{
  	width: 18%;
  }
  .olc-layout .olc-direction-view table {
  	margin-top: 15px;
  	border-collapse: collapse;
    width: 100%;
  }
  .olc-layout table tr td {
  	font-size: 14px;
  	font-weight: 400;
  	border: 1px solid #d5e7e1;
  	color: #28303d;
  	padding: 5px 10px;
  	vertical-align: top;
  	line-height: 23px;
  }
  .olc-layout table tbody tr:nth-child(even) {
  	background-color: rgb(238 246 243);
  }
  .olc-layout .olc-direction-top ul {
  	list-style: none;
  	padding: 0;
  	margin: 0;
  }
  .olc-layout .olc-direction-top ul li span {
  	font-size: 15px;
  	color: #001E1D;
  	font-weight: 600;
  }
  .olc-layout .olc-direction-top ul li {
  	background-color: #eef6f3;
  	padding: 6px 15px;
  	border-left: 3px solid #28303d;
  }
/*======================================
 locater box css
 ========================================*/
 .office-locater-box{
 	background: #FFFFFF;
/* 	box-shadow: 0px 4.16736px 14.5858px rgba(0, 0, 0, 0.1);*/
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 8px;
padding: 25px;
margin-bottom: 10px;
box-sizing: border-box;
}
.office-locater-box h3 {
  background: #EEF6F3;
  border-radius: 4px;
  padding: 10px 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #001E1D;
  margin: 0 0 10px;
  white-space: normal;
  font-family: 'ProximaNova';
  text-align: center;
}
.olc-address-list .office-locater-box h4 {
  font-size: 17px;
  color: #004643;
  margin-bottom: 20px;
  margin-top: 15px;
  text-align: center;
  font-weight: 600;
  font-family: 'ProximaNova'
}
.office-locater-one-address .address-one-list{
  display: flex;
  margin-bottom: 10px;
  white-space: normal;
}
.office-locater-one-address .address-one-list span{
  margin-right: 15px;
  color: #004643;
  flex-shrink: 0;
  background: #d1e4dd;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.office-locater-one-address .address-one-list p{
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #656565;
  margin: 0;
  white-space: nowrap;
  white-space: normal;
}
.office-locater-one-address .address-one-list p a{
  color: #878585;
  text-decoration: none;
  white-space: normal;
}

.office-locater-one-address .address-one-list p a:hover{
  color: #F9BC60;
}
.office-locater-one-address .address-one-list p a:focus,
.office-locater-one-address .address-one-list p a:focus-visible {
  text-decoration: none !important;
  outline: none;
}

h3.office-locater-one-title {
  background: #EEF6F3 !important;
  border-radius: 4px;
  padding: 10px 18px !important;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #001E1D;
  margin: 0 0 10px;
  white-space: normal;
  font-family: 'ProximaNova';
  text-align: center;
  width: 100%;
}
.office-locater-one-title a {
  color: #001E1D;
  text-decoration: none;
}
.address-one-btn .all-btn{
  background: #F9BC60;
  border-radius: 5px;
  padding: 10px 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #001E1D;
  display: block;
  text-decoration: none;
  text-align: center;
  max-width: fit-content;
  margin: 20px auto 0;
}
.address-one-btn .all-btn:hover{
  background: #004643;
  color: #fff;
}
.address-one-btn .all-btn:focus {
  background: #F9BC60 !important;
  text-decoration: none !important;
}

/* width */
.office-panel::-webkit-scrollbar {
  width: 8px;
}
/* Track */
.office-panel::-webkit-scrollbar-track {
  background: #EBEBEB;
}
/* Handle */
.office-panel::-webkit-scrollbar-thumb {
  background: #004643;
  border-radius: 17px;
}
/* Handle on hover */
.office-panel::-webkit-scrollbar-thumb:hover {
  background: #004643;
}

.office-panel .olc-rendered-directions .adp-summary {
  padding: 0;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 15px;
  color: #28303d;
}
.office-panel .olc-rendered-directions table.adp-directions{
  background-color: #fefefe;
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
}
.office-panel .olc-rendered-directions table.adp-directions tr {
  border-bottom: 1px solid #edeef2;
}
.office-panel .olc-rendered-directions table.adp-directions td {
  border: 1px solid #e4e4e4;
  padding: 8px;
  vertical-align: middle;
  font-size: 14px;
  color: #656565;
  font-weight: 400;
  line-height: 24px;
}
.office-panel .olc-rendered-directions table.adp-directions td b{
  font-weight: 500;
  color: #006965de;
}
.office-panel .olc-rendered-directions table.adp-directions td:nth-child(1){
  width: 12%;
}
.office-panel .olc-rendered-directions table.adp-directions td:nth-child(1) .adp-stepicon{
  margin: auto;
}
.office-panel .olc-rendered-directions table.adp-directions td:nth-child(1),
.office-panel .olc-rendered-directions table.adp-directions td:nth-child(2){
  text-align: center;
}
.office-panel .olc-rendered-directions table.adp-directions tr:nth-child(2n) {
  background-color:#eef6f3;
}
.office-panel .olc-rendered-directions table.adp-directions td:nth-child(1) .adp-stepicon > div{
  filter: invert(22%) sepia(27%) saturate(1369%) hue-rotate(129deg) brightness(91%) contrast(101%);
}
.office-panel .olc-rendered-directions table.adp-directions td .adp-distance{
  font-weight: 500;
}
.office-panel .olc-rendered-directions button {
  background: transparent !important;
}
.office-panel .olc-rendered-directions table.adp-placemark{
  background: #FFFFFF;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #dddddd;
}
.office-panel .olc-rendered-directions table.adp-placemark td{
  border: 0px;
  font-size: 15px;
  color: #1a1818;
  font-weight: 400;
  line-height: 25px;
}
.office-panel .olc-rendered-directions table.adp-placemark td:nth-child(1){
  width: 10%;
}
#office-panel .olc-address-list.no-address-found p {
  background: #023e58;
  padding: 10px;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  margin: 0;
}
.office-no-map p {
  padding: 10px 15px;
  font-weight: 600;
  border-radius: 0px;
  background: #f9b5b578;
  color: #f60000e0;
  background-color: #f8d7dab3;
  border-radius: 5px;
}


/*======================================
 Google-map-css-one-right
 ========================================*/
 .olc-google-map{
 	width: 100%;
 	overflow: hidden;
 	position: relative;
 }
 .olc-google-map .office-locater-box{
 	position: absolute;
 	top: 0;
 	left: 0;
 	z-index: 9;
 	max-width: 310px;
 	margin: 0;
 }
 .olc-google-map .office-locater-box.left{
 	margin-left: 15px;
 }
 .olc-google-map .office-locater-box.left:before{
 	content: '';
 	position: absolute;
 	left: -15px;
 	top: 15px;
 	width: 0; 
 	height: 0; 
 	border-top: 15px solid transparent;
 	border-bottom: 15px solid transparent; 
 	border-right:15px solid #fff;
 }
 .olc-google-map .office-locater-box.top{
 	margin-top: 15px;
 }
 .olc-google-map .office-locater-box.top:before{
 	content: '';
 	position: absolute;
 	left: 15px;
 	top: -15px;
 	width: 0; 
 	height: 0; 
 	border-left: 15px solid transparent;
 	border-right: 15px solid transparent;
 	border-bottom: 15px solid #fff;
 }
 .olc-google-map .office-locater-box.right{
 	margin-right: 15px;
 }
 .olc-google-map .office-locater-box.right:before{
 	content: '';
 	position: absolute;
 	right: -15px;
 	top: 15px;
 	width: 0; 
 	height: 0; 
 	border-top: 15px solid transparent;
 	border-bottom: 15px solid transparent;
 	border-left: 15px solid #fff;
 }
 .olc-google-map .office-locater-box.bottom{
 	margin-bottom: 15px;
 }
 .olc-google-map .office-locater-box.bottom:before{
 	content: '';
 	position: absolute;
 	left: 15px;
 	bottom: -15px;
 	width: 0; 
 	height: 0; 
 	border-left: 15px solid transparent;
 	border-right: 15px solid transparent;
 	border-top: 15px solid #fff;
 }
 .olc-google-map iframe{
 	width: 100%;
 	height: 100%;
 }

 /* Fix for Google map More info details*/

 .olc-google-map .gm-style-iw.gm-style-iw-c {
  width: 450px;
  padding: 12px !important;
}
.olc-google-map .gm-style-iw.gm-style-iw-c .gm-style-iw-d{
  padding: 0 !important;
  overflow-y: auto !important;
  background-attachment: local,local,scroll,scroll;
}
.olc-google-map .gm-style-iw.gm-style-iw-c .gm-style-iw-d::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
  background: rgba(0,0,0,0);
}
.olc-google-map .gm-style-iw.gm-style-iw-c .gm-style-iw-d .olc-store h4{
  font-size: 17px;
  color: #004643;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}
.olc-google-map .gm-style-iw-d .olc-store h3 {
  background-color: transparent;
  padding: 8px 10px 0;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
}
.olc-google-map .gm-style-iw.gm-style-iw-c button.gm-ui-hover-effect {
  transition: 0.3s all ease;
}
.olc-google-map .gm-style-iw.gm-style-iw-c button.gm-ui-hover-effect {
  opacity: 1;
  top: 5px !important;
  right: 20px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.olc-google-map .gm-style-iw.gm-style-iw-c.olc-info-box-item button.gm-ui-hover-effect {
  top: 19px !important;
}
.olc-google-map .gm-style-iw.gm-style-iw-c button.gm-ui-hover-effect span{
  width: 18px !important;
  height: 18px !important;
  margin: 0px !important;
}
.olc-google-map .gm-style-iw.gm-style-iw-c button.gm-ui-hover-effect:focus{
  outline: 0px dotted currentColor;
}
.olc-google-map .gm-style img {
  max-width: none !important;
}

/*======================================
  start---olc-map-layout-3 css
  ========================================*/

  .layout-3 .office-locater-slider .swiper-button-next,  .layout-3 .office-locater-slider .swiper-button-prev{
    height: 38px;
    width: 38px;
    border-radius: 5px;
    background-color:  #F9BC60;
  }
  .layout-3 .office-locater-slider .swiper-button-next:hover, .layout-3 .office-locater-slider .swiper-button-prev:hover{
    background-color:  #001E1D;
  }

  .layout-3 .office-locater-slider .swiper-button-next:after ,.layout-3 .office-locater-slider .swiper-button-prev:after{
    font-size: 20px;
    color: #001E1D;
  }
  .layout-3 .office-locater-slider .swiper-button-next:hover:after ,.layout-3 .office-locater-slider .swiper-button-prev:hover:after{
    color: #fff;
  }

  .olc-layout.layout-3  .olc-google-map,
  .olc-layout.layout-4 .olc-google-map,
  .olc-layout.layout-7 .olc-google-map,
  .olc-layout.layout-8 .olc-google-map {
  	min-height: 700px;
  }

  .olc-layout.layout-3 .office-panel,
  .olc-layout.layout-4 .office-panel,
  .olc-layout.layout-7 .office-panel,
  .olc-layout.layout-8 .office-panel {
  	width: 100%;
  }
  .layout-3 .olc-address-list {
  	display: flex;
  }
  
  .layout-3 .office-locater-filter.olc-col-1 {
  	margin-top: 12px;
  }

  .layout-3 .olc-google-map {
  	margin-top: 12px;
  }
  .olc-layout.layout-3 .office-locater-one-left.office-panel {
    min-height: 420px;
  }

  .olc-layout.layout-3 .office-panel.no-office-found,
  .olc-layout.layout-4 .office-panel.no-office-found,
  .olc-layout.layout-7 .office-panel.no-office-found,
  .olc-layout.layout-8 .office-panel.no-office-found {
    min-height: auto;
    padding: 0;
  }

  .olc-layout.layout-3 .office-panel.no-office-found+.office-locater-arrow, 
  .olc-layout.layout-4 .office-panel.no-office-found+.office-locater-arrow,   
  .olc-layout.layout-7 .office-panel.no-office-found+.office-locater-arrow, 
  .olc-layout.layout-8 .office-panel.no-office-found+.office-locater-arrow {
    display: none !important;
  }

/*======================================
  end---olc-map-layout-3 css
  ========================================*/

/*======================================
  start---olc-map-layout-4 css
  ========================================*/
  .office-locater-slider{
    position: relative;
  }
  .olc-layout.layout-4 .office-panel{
    padding: 10px 15px;
  }
  .office-locater-one.layout-4 .olc-direction-view table {
    width: 100%;
  }
  .layout-4 .office-locater-slider .swiper-button-next,  .layout-4 .office-locater-slider .swiper-button-prev,
  .layout-7 .office-locater-slider .swiper-button-next,  .layout-7 .office-locater-slider .swiper-button-prev,
  .layout-8 .office-locater-slider .swiper-button-next,  .layout-8 .office-locater-slider .swiper-button-prev{
    height: 38px;
    width: 38px;
    border-radius: 5px;
    background-color:  #F9BC60;
  }
  .layout-4 .office-locater-slider .swiper-button-next:hover,  .layout-4 .office-locater-slider .swiper-button-prev:hover,
  .layout-7 .office-locater-slider .swiper-button-next:hover,  .layout-7 .office-locater-slider .swiper-button-prev:hover,
  .layout-8 .office-locater-slider .swiper-button-next:hover,  .layout-8 .office-locater-slider .swiper-button-prev:hover{
    background-color:  #001E1D;
  }
  .layout-4 .office-locater-slider .swiper-button-next:after ,.layout-4 .office-locater-slider .swiper-button-prev:after,
  .layout-7 .office-locater-slider .swiper-button-next:after ,.layout-7 .office-locater-slider .swiper-button-prev:after,
  .layout-8 .office-locater-slider .swiper-button-next:after ,.layout-8 .office-locater-slider .swiper-button-prev:after{
    font-size: 20px;
    color: #001E1D;
  }
  .layout-4 .office-locater-slider .swiper-button-next:hover:after,.layout-4 .office-locater-slider .swiper-button-prev:hover:after,
  .layout-7 .office-locater-slider .swiper-button-next:hover:after ,.layout-7 .office-locater-slider .swiper-button-prev:hover:after,
  .layout-8 .office-locater-slider .swiper-button-next:hover:after ,.layout-8 .office-locater-slider .swiper-button-prev:hover:after{
    color: #fff;
  }

  .layout-4 .olc-address-list {
  	display: flex;
  }
  .olc-layout.layout-4 .office-panel {
    max-height: 600px;
    margin-bottom: 10px;
  }

/*======================================
  start---olc-map-layout-5 css
  ========================================*/
  .layout-5 .olc-storelocator-filter .olc-location-search {
  	flex-wrap: wrap;
  	padding: 15px;
  }
  .layout-5 .olc-col-1 form.olc-storelocator-filter .olc-input .olc-submit-btn {
  	margin-top: 0;
  }
  .layout-5 .office-locater-two.olc-col-2 .office-panel-with-filter{
    width: 420px;
  }
  /*======================================
  end---olc-map-layout-5 css
  ========================================*/

  /*======================================
  start---olc-map-layout-6 css
  ========================================*/
  .layout-6 .olc-storelocator-filter .olc-location-search {
  	flex-wrap: wrap;
  	padding: 15px;
  }
  .layout-6 .olc-col-1 form.olc-storelocator-filter .olc-input .olc-submit-btn {
  	margin-top: 0;
  }
  .layout-6 .office-locater-two.olc-col-2 .office-panel-with-filter{
    width: 420px;
  }
  /*======================================
  end---olc-map-layout-6 css
  ========================================*/
  .olc-store .address-one-btn {
  	display: none;
  }

  .olc-layout.layout-7 .olc-google-map,
  .olc-layout.layout-8 .olc-google-map{
    margin-bottom: 10px;
  }

  body .layout-5 .office-panel-with-filter .office-panel,
  body .layout-6 .office-panel-with-filter .office-panel{
    height: calc(100% - 303px) !important;
  }

  .layout-3 .olc-direction-view, .layout-4 .olc-direction-view,.layout-7 .olc-direction-view,.layout-8 .olc-direction-view{
    max-height: 400px;
  }


/*======================================
  single Office css start
  ========================================*/
  .main-content{
    max-width: 1400px;
    margin: auto;
  }
  .office-main-content{
    padding: 0 15px;
  }  
  .single-office-box {
    max-width: 600px;
    border-radius: 15px;
    padding: 25px;
    width: 100%;
    background: #f9fdff;
    font-family: 'ProximaNova';
    border: 4px solid #d1e4dd;
    margin: auto;
  }
  .single-office-box h3.single-direction-title {
    text-align: center;
    margin: 0;
    font-size: 22px;
    padding: 12px;
    background: #d1e4dd;
    border-radius: 10px;
    font-weight: 700;
    color: #001E1D;
  }
  .single-office-box h4.single-office-name {
    font-size: 20px;
    text-align: center;
    margin: 0;
    font-weight: 600;
    padding: 20px;
    color: #004643;
    position: relative;
  }
  .single-office-box h4.single-office-name:after {
    content: "";
    position: absolute;
    left: 40%;
    bottom: 5px;
    height: 4px;
    width: 17%;
    border-bottom: 2px solid #d1e4dd;
  }
  .single-office-box .address-wrapper .addres-list {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d1e4dd;
    padding: 15px 0;
  }
  .single-office-box .address-wrapper .addres-list:last-child{
    border-bottom: 0;
  }
  .single-office-box .address-wrapper .addres-list span {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d1e4dd;
    border-radius: 20px;
    margin-right: 20px;
    color: #000;
  }
  .single-office-box .address-wrapper .addres-list p {
    margin: 0;
  }
  .single-office-box .address-wrapper .addres-list p a{
    color: #555555;
  }

/*======================================
  single Office css End
  ========================================*/


  /*<------------ media css ----------->*/
  @media only screen and (max-width: 991px) {
  	.office-panel {
  		width: 400px;
  	}
  	.olc-google-map .office-locater-box{
  		max-width: 245px;
  	}

  	.olc-layout .olc-storelocator-filter .olc-location-search {
  		flex-wrap: wrap;
  	}
  	.olc-layout .olc-storelocator-filter .olc-location-search .olc-results {
  		row-gap: 15px;
  		width: calc(100% - 154px);
  	}
  	
    .layout-5 .olc-storelocator-filter .olc-location-search .olc-results,
    .layout-6 .olc-storelocator-filter .olc-location-search .olc-results{
      width: 100%;
    }
  }
  @media only screen and (max-width: 767px) {
  	.office-locater-box{
  		padding: 10px;
  	}
  	.olc-col-2 {
  		display: flex;
  		flex-direction: column;
  		height: 100%;
  		grid-gap: 10px;
  	}
  	.olc-layout .olc-google-map,
  	.store-locater .olc-layout .office-panel {
  		height: 500px;
  		width: 100%;
  	}
  	.office-locater-one-address .address-one-list p,
  	.address-one-btn .all-btn,
  	.office-locater-box h3{
  		font-size: 14px;
  		line-height: 20px;
  	}
  	 
    .layout-5 .office-locater-two.olc-col-2 .office-panel-with-filter,
    .layout-6 .office-locater-two.olc-col-2 .office-panel-with-filter{
      width: 100%;
    }  
    .layout-3 .office-locater-slider .swiper-button-next,.layout-4 .office-locater-slider .swiper-button-next,.layout-7 .office-locater-slider .swiper-button-next,.layout-8 .office-locater-slider .swiper-button-next{
      right: -8px;
    }
    .layout-3 .office-locater-slider .swiper-button-prev,.layout-4 .office-locater-slider .swiper-button-prev,.layout-7 .office-locater-slider .swiper-button-prev,.layout-8 .office-locater-slider .swiper-button-prev{
      left: -8px;
    }
  }

  @media only screen and (max-width: 575px) {
    .olc-layout{
      padding: 8px;
    }
    .olc-layout .olc-col-1 form.olc-storelocator-filter .olc-input,
    .olc-layout .olc-col-1 form.olc-storelocator-filter .olc-results .olc-input{
      display: block;
    }
    .olc-layout .olc-col-1 form.olc-storelocator-filter .olc-input input,
    .olc-layout .olc-col-1 form.olc-storelocator-filter .olc-results .olc-input select{
      max-width: 100%;
      width: 100%;
    }
    .olc-layout .olc-col-1 form.olc-storelocator-filter .olc-input label{
      font-size: 16px;
    }
    .olc-layout .olc-storelocator-filter .olc-location-search {
      row-gap: 15px;
      flex-wrap: wrap;
    }
    .olc-layout .olc-storelocator-filter .olc-location-search .olc-results {
      gap: 15px;
      row-gap: 15px;
      width: 100%;
    }
    .olc-layout .olc-col-1 form.olc-storelocator-filter .olc-input .olc-submit-btn{
      margin-top: 0;
    }
    .olc-layout .office-panel, .olc-layout .olc-google-map {
      height: 400px;
    }
    .olc-google-map .gm-style-iw.gm-style-iw-c button.gm-ui-hover-effect{
      right: 10px !important;
    }
    h3.office-locater-one-title{
      font-size: 14px;
    }
  }
  /* ------------------- */